.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login-form {
    padding: 50px 200px;
    border: 3px solid rgb(33, 33, 33);
    background-color: rgb(33, 33, 33);
    text-align: center;
}
.right {
    text-align: right;
}

.font-size {
    font-size: 130%;
}

.list-size {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.list-group-item, .list-group-item:hover{ z-index: auto; }